body {
    background-color: black;
}

.calcul_border {
    display: block;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    width: fit-content;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

[type="text"] {
    width: 90%;
    border: none;
    outline: none;
    padding: 15px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 10px;
    border-radius: 10px;
    text-transform: uppercase;
}

.number_layout {
    display: flex;
    gap: 5px;
    align-items: stretch;
    justify-content: center;
}

button {
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: rgba(236, 236, 236, 0.747);
}

.equal {
    background-color: orange;
}

.equal:hover {
    background-color: rgba(255, 166, 0, 0.815);
}

.operator {
    background-color: rgba(255, 255, 255, 0.726);
}